h1{
  font-family:"Comic Sans MS", cursive, sans-serif;	
  colour:blue;
}

h2{

  font-family:"Courier New", Courier, monospace;
  colour:yellow;
}

p{
  
  font-family:"Courier New", Courier, monospace;
    colour:green;
}

body{
  
  background-colour:#9ACD32;}
